body {
  text-align: center;
  font-family: "Century Gothic";
  background-color : ##f7f3e1;
  background-position: center;
}

background-color : #f7f3e1;
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: #fffdb5;
}

/* mouse over link */
a:hover {
  color: #feffe8;
}

/* selected link */
a:active {
  color: #ffe8f0;
}

#title {
  font-family: "Baskerville Old Face"
}

#header {
  text-align : center;
  font-size: 18px;
  color : #f7f3e1;
  position : fixed;
  width : 100% ;
  background : #faf3d2;
  top :0px;
  height : 80px;

}

#image {
  display: block;
  max-width: 100%;
  position : center;
  height: auto;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

#content {
  margin-top : 100px;
  top : 200px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding-bottom: 2.5rem;
  min-height: 100vh;
}

#footer {
  width : 100%;
  font-size: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
